@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  font-family: sans-serif;
  text-align: center;
  justify-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.star {
  cursor: pointer;
}

.star-container {
  text-align: center;
  justify-content: center;
  display: flex;
}

.star-filled {
  color: gold;
  fill: gold;
}

.star-empty {
  color: grey;
  fill: grey;
}

/* Half star styling by using a linear gradient mask */
